# Project exclude paths
/.gradle/
/build/
/db-migration/build/
/db-migration/build/classes/java/main/
/domain/build/
/domain/build/classes/java/main/
/domain/build/classes/java/test/
/platform/graphql/build/
/platform/graphql/build/classes/java/main/
/platform/graphql/build/classes/java/test/
/platform/query/build/
/platform/query/build/classes/java/main/
/platform/query/build/classes/java/test/
/gradle/wrapper/gradle-wrapper.jar
/platform/core/gradle/wrapper/gradle-wrapper.jar
/platform/graphql/gradle/wrapper/gradle-wrapper.jar
/platform/query/gradle/wrapper/gradle-wrapper.jar
/.idea/
/platform/rbac/build/
/application/build/
